
<h2>Create</h2>

<form id="CreateTable">
    <input type="hidden" name="Id" />

    <label>Title</label>
    <input name="Title" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>ActualAmount</label>
    <input name="ActualAmount" />
    <br />
    <label>StartingTime</label>
    <input name="StartingTime" />
    <br />
    <label>EndTime</label>
    <input name="EndTime" />
    <br />
    <button id="AuctionSaveBtn" type="button">Save</button>


</form>

<script>
    $("#AuctionSaveBtn").click(function () {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Auctions")',
                data: $('#CreateTable').serialize()

            })

            .done(function (response) {
            
                $("#tableContainer").html(response);
                $("#contentArea").html('');
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });
</script>
