<div>
    <div id="tableContainer">
        @{
            Html.RenderAction("AuctionsTable");
        }
    </div>

    <hr />
    @*<div id="contentArea">

        </div>*@
    <div class="modal fade" id="FormModel" tabindex="-1" role="dialog"aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content" id="contentArea">
            </div>
        </div>
    </div>
    
    

</div>

<script>
    
    @*function ReloadTable() {
        $.ajax({

            url:@Url.Action("AuctionsTable","Auctions"),
            method:Get

        })
           .done(function (response) {


               $("#tableContainer").html(response);


           })
           .fail(function (XMLHttpRequest, textStatus, errorThrown) {
               alert("FAIL");
           });

    }*@
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>