@model BidOn.Web.ViewModels.UserDetailsViewModel

@if (Model != null)
{
    if (Model.UserRoles != null && Model.UserRoles.Count > 0)
    {
        foreach (var roles in Model.UserRoles)
        {
            <h3>@roles.Name</h3>
            
        }
    }
}

